{% extends "layout.html" %}
{% load static %}


{% block head %}
    {{jeopardy}}
{% endblock %}


{% block body %}

    {% if message %}
            <div class="message">
                {{message}}
            </div>
    {% endif %} 
    <br>
    <form action="/add/{{jeopardy.id}}" method="post" class="formbody">
        {% csrf_token %}
        {{category.as_p}}
        <input class="btn submit" type="submit" value="Add New Category">
    </form>


    <div class="center">
    <strong>Categorys added to the game:</strong>
    <br>
    {% for category in categorys %}
        <a href="/add/{{jeopardy.id}}/{{category.id}}">{{category.category}}</a>
        <br>
    {% endfor %}
    </div>

{% endblock %}
