{% extends "layout.html" %}
{% load static %}


{% block head %}
    Jeopardy
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            {% for subject in subjects %}
            <div class="col-lg-3 col-md-4">
                <div class="box"><a id="boxlink" href="{{subject.choice}}">{{subject.choice}}</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}



{% block script %}
    <script src="{% static 'script.js' %}"></script>
{% endblock %}




